@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

.header-background {
  position: relative;
  z-index: 1;
}
.header-background::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 67px;
  background: #4e4d59;
  background: linear-gradient(90deg, #4e4d59 55%, #595767 70%, #595767 100%);
  content: "";
  z-index: -1;
}
.header-background::after {
  position: absolute;
  left: 0;
  top: 135px;
  width: 100%;
  height: 59px;
  background-color: #36373B;
  content: "";
  z-index: -1;
}
.header-background .header {
  z-index: 1;
  position: relative;
}
.header-background .header::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
.header-background .header .header-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-background .header .header-inner .right-main-header .header-top .top-section {
  padding: 15px 0 5px 0;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  margin-right: 20px;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child li i {
  font-size: 45px;
  padding-top: 2px;
  margin-right: 15px;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child li .fa-search {
  font-size: 18px !important;
  margin-right: 3px !important;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:first-child li a:hover {
  color: #CDD550;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:last-child li {
  list-style: none;
  margin-right: 20px;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:last-child li:last-child {
  margin-right: 0px;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:last-child li a {
  color: #fff;
  text-decoration: none;
}
.header-background .header .header-inner .right-main-header .header-top .top-section .top-section-inner ul:last-child li:last-child a {
  text-transform: uppercase;
  color: #CDD550;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom {
  padding: 15px 0;
  background-color: #4E4D59;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul {
  margin: 0;
  padding: 0;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul li:last-child {
  margin-right: 0;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul li a:hover {
  color: #66AA56;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom ul li .active {
  color: #66AA56 !important;
}
.header-background .header .header-inner .right-main-header .header-top .top-bottom .quick {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #CA2935;
  padding: 7px 15px;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.header-background .header .header-inner .right-main-header .main-header {
  background-color: #36373B;
  padding: 5px 0;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul {
  padding: 0;
  margin: 0;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul li:last-child {
  margin-right: 0;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul li a:hover {
  color: #E0B165;
}
.header-background .header .header-inner .right-main-header .main-header .main-header-inner .right ul li .active {
  color: #E0B165 !important;
}

.top-background {
  position: relative;
}
.top-background::before {
  position: absolute;
  left: 0;
  top: -127px;
  content: "";
  width: 100%;
  height: 68px;
  background-color: #4E4D59;
  z-index: -1;
}

.banner-section .banner-inner {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-section .banner-inner .image1 {
  position: absolute;
  left: 45%;
  top: 50%;
  content: "";
  transform: translate(-45%, -50%);
  width: 45%;
  z-index: -1;
}
.banner-section .banner-inner .image2 {
  position: absolute;
  left: 59%;
  top: 48%;
  content: "";
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: -1;
}
.banner-section .banner-inner h1 {
  color: #fff;
  margin-bottom: 0;
  font-size: 80px;
}

.image-banner img {
  width: 100%;
}

.banner-with-text {
  position: relative;
  margin-top: 80px;
  z-index: 2;
}
.banner-with-text::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 50px;
}
.banner-with-text img {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: -1;
}
.banner-with-text h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
  font-size: 80px;
  z-index: 3;
}

.text-with-background {
  text-align: center;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-with-background h1 {
  color: #fff;
  font-size: 80px;
}

.left-text-with-background {
  position: relative;
  z-index: 1;
}
.left-text-with-background::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 40%;
  content: "";
  background-color: #646466;
  transform: translateY(-50%);
  z-index: -1;
}
.left-text-with-background .white-oak {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-text-with-background .white-oak .left {
  width: 40%;
}
.left-text-with-background .white-oak .left h1 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 0;
}
.left-text-with-background .white-oak .left p {
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0;
}
.left-text-with-background .white-oak .right {
  width: 60%;
}
.left-text-with-background .white-oak .right img {
  width: 100%;
}

.ash {
  margin-top: 100px;
  margin-bottom: 100px;
}

.many-more {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 250px;
}
.many-more h1 {
  color: #fff;
  font-size: 80px;
}

.amaizing {
  background-image: url(../assets/img/BG03.jpg);
  padding-bottom: 200px;
}
.amaizing .title-view {
  padding-left: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.amaizing .title-view h1 {
  color: #545454;
  font-size: 80px;
  text-transform: capitalize;
}
.amaizing .title-view a {
  text-transform: capitalize;
  color: #797979;
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}
.amaizing .title-view a:hover {
  text-decoration: underline;
}
.amaizing .products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.amaizing .products img {
  width: 21%;
}

.awesome-section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.awesome-section .container-fluids {
  width: 100%;
}
.awesome-section .awesome-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px 0 300px;
}
.awesome-section .awesome-inner .left h1 {
  color: #fff;
  font-size: 80px;
}
.awesome-section .awesome-products {
  text-align: right;
}
.awesome-section .awesome-products img {
  margin-left: -4px;
}

.main-wrapper {
  margin-top: 100px;
  margin-bottom: 80px;
}
.main-wrapper .main-wrapper-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left {
  width: 55%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left .image-gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left .image-gallery-wrapper .image-left a img {
  width: 100%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left .image-gallery-wrapper .image-right a img {
  width: 100%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left .image-wrapper a img {
  width: 100%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left a {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left a::after {
  color: #fff;
  font-size: 20px;
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left a:hover::after {
  opacity: 1;
  visibility: visible;
}
.main-wrapper .main-wrapper-inner .main-wrapper-left a:hover::before {
  opacity: 1;
  visibility: visible;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right {
  width: 42%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .top-header {
  color: #33BD43;
  font-weight: 300 !important;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right h1 {
  text-transform: uppercase;
  color: #575757;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 30px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right h1 span {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .link-wrapper a {
  color: #fff;
  background-color: #919191;
  font-size: 15px;
  text-align: center;
  padding: 15px 35px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .link-wrapper .middle-link {
  background-color: #33BD43;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .right-image-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .right-image-wrapper img {
  width: 100%;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .bottom-header {
  color: #575757;
  font-weight: 300 !important;
  margin-bottom: 25px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-wrapper a {
  color: #fff;
  font-size: 15px;
  text-align: center;
  background-color: #919191;
  padding: 12px 0;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper {
  border: 1px solid #919191;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #919191;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner:last-child {
  border-bottom: 0px solid transparent;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner .left {
  border-right: 1px solid #919191;
  width: 40%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner .left p {
  margin-bottom: 0;
  color: #919191;
  font-weight: 300;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner .right {
  width: 60%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-wrapper .main-wrapper-inner .main-wrapper-right .species-detail-wrapper .species-detail-inner .right p {
  margin-bottom: 0;
  color: #919191;
  font-weight: 300;
}

footer {
  background-color: #4E4E5A;
  padding-top: 30px;
}
footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-left {
  width: 16%;
}
footer .footer-top .footer-right {
  width: 84%;
}
footer .footer-top .footer-right .footer-right-inner .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul {
  margin: 0;
  padding: 0;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 0;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: relative;
  padding: 0px 8px;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li a::after {
  position: absolute;
  right: -3px;
  background-color: #fff;
  height: 12px;
  top: 50%;
  width: 2px;
  transform: translateY(-50%);
  content: "";
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li:last-child a {
  border-right: 0px solid transparent;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li:last-child a::after {
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 12px;
  top: 50%;
  width: 2px;
  transform: translateY(-50%);
  content: "";
  display: none;
}
footer .footer-top .footer-right .footer-right-inner .top .top-left ul li:first-child a {
  padding-left: 0px;
}
footer .footer-top .footer-right .footer-right-inner .top .top-right .social a {
  color: #fff;
  padding: 0 5px;
}
footer .footer-top .footer-right .footer-right-inner .bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .top {
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .top i {
  color: #fff;
  font-size: 50px;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .newsletter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .newsletter h5 {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  text-transform: uppercase;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom a {
  color: #fff;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom .mail {
  color: #34A146;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom p {
  font-size: 14px;
  color: #fff;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom form .email {
  background-color: #5B5B67;
  box-shadow: none;
  border: none;
  padding: 7px 10px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom form .email:focus {
  border-color: #34A146;
  box-shadow: none;
  outline: none;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom form .submit {
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-left: -5px;
  background-color: #34A146;
  color: #fff;
  transition: 0.3s ease-in-out;
}
footer .footer-top .footer-right .footer-right-inner .bottom .details-box .bottom form .submit:hover {
  background-color: #fff;
  color: black;
}
footer .footer-top .footer-right .footer-right-inner .topboder {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
footer .footer-bottom {
  margin-top: 30px;
}
footer .footer-bottom p {
  color: #fff;
  border-top: 1px solid #fff;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
